* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #FFFF00;
    --secondary: #000000;
    --ternary: #FFFFFF;
    --forth: #F8F8F8;
    --fifth: #332D29;
}

body {
    font-size: 16px;
    font-family: 'Raleway';
    scroll-behavior: smooth;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

ul {
    list-style: none;
}

img {
    display: block;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.tab-content {
    scroll-margin-top: 130px;
}

.privacy-sec {
    position: relative;
}

.privacy-sec::after {
    content: '';
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: var(--forth);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    clip-path: polygon(79% 0, 100% 0%, 100% 100%, 50% 100%);
    transition: all 0.3s ease;
    z-index: -1;
}

.privacy-inner {
    display: flex;
    align-items: baseline;
    gap: 100px;
}

.privacy-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 27px;
    overflow-y: auto;
    position: sticky;
    top: 100px;
    width: 100%;
    max-width: 300px;
    max-height: 500px;
}

.privacy-left-a {
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
    line-height: 16px;
    color: var(--secondary);
    opacity: 50%;
    border-left: 3px solid transparent;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

.privacy-left-a.active-link {
    border-left: 3px solid var(--secondary);
    padding-left: 10px;
    color: var(--secondary);
    font-size: 14px;
    font-size: 600;
    line-height: 24px;
    font-style: italic;
    opacity: 100%;
}

.privacy-right {
    padding-top: 100px;
}

.privacy-right-head {
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    font-style: italic;
    color: var(--secondary);
}

.privacy-right-head strong {
    font-weight: 800;
}

.privacy-right-desc {
    font-size: 14px;
    font-weight: 500;
    color: #707070;
    line-height: 26px;
    max-width: 832px;
    margin-top: 47px;
}

.terms-sec {
    margin-top: 87px;
}

.terms-head{
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    font-style: italic;
    color: var(--secondary);
}

.terms-head strong{
    font-weight: 800;
}

.terms-desc{
    font-size: 14px;
    font-weight: 500;
    color: #707070;
    line-height: 26px;
    max-width: 832px;
    margin-top: 38px;
}

.return-sec{
    margin-top: 87px;
}

.special-sec{
    margin-top: 87px;
}

.spacial-head{
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    color: var(--secondary);
    opacity: 75%;
}

.spacial-head strong{
   font-weight: 800;
}

.special-desc{
    font-size: 12px;
    font-weight: 500;
    color: #707070;
    line-height: 26px;
    max-width: 832px;
    margin-top: 38px;
}

.conditions-sec{
    margin-top: 87px;
}

.click-a {
    background-color: var(--primary);
    color: var(--secondary);
    border: 2px solid var(--primary);
    transition: all 0.3s ease;
    border-radius: 50px;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.75px;
}

.click-a:hover {
    color: var(--secondary);
    background-color: transparent;
    border: 2px solid var(--secondary);
}

.clickme-inner {
    margin-top: 100px;
    text-align: center;
}

.close-icon {
    color: var(--secondary);
    background-color: var(--primary);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1;
}

.reports {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.305);
    display: flex;
    justify-content: flex-end;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
}

.reports-content {
    background-image: url(../images/Rectangle\ 1043.png);
    width: 80%;
    max-width: 680px;
    height: 100vh;
    position: relative;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    padding-top: 123px;
    padding-left: 80px;
    padding-right: 56px;
    padding-bottom: 80px;
    overflow-y: auto;
}

.reports-content::after {
    content: '';
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: var(--secondary);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    object-fit: contain;
    z-index: -1;
    transition: all 0.3s ease;
    opacity: 80%;
}

.reports.show {
    visibility: visible;
    opacity: 1;
}

.reports.show .reports-content {
    transform: translateX(0);
}

.reports-heading {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: var(--forth);
    font-style: italic;
    letter-spacing: 4px;
    max-width: 413px;
}

.reports-heading strong {
    color: var(--primary);
}

.reports-para {
    font-size: 25px;
    font-weight: 500;
    color: var(--ternary);
    line-height: 20px;
    margin-top: 30px;
}

.lorem-para {
    color: var(--ternary);
    opacity: 80%;
    font-size: 16px;
    font-weight: 200;
    line-height: 28px;
    max-width: 544px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.reports-unorderlist {
    list-style: disc;
    padding-left: 20px;
    margin-top: 20px;
}

.reports-unorderlist li {
    color: var(--ternary);
    opacity: 80%;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 200;
}

.reports-a {
    background-color: var(--primary);
    color: var(--secondary);
    border: 2px solid var(--primary);
    transition: all 0.3s ease;
    padding: 27px 49px;
    font-size: 14px;
    line-height: 17px;
    font-weight: 700;
    margin-top: 40px;
}

.reports-a:hover {
    background-color: transparent;
    color: var(--primary);
}

.bike-compare-left {
    background-color: var(--forth);
    box-shadow: 0px 0px 20px #0000001A;
    max-width: 544px;
    width: 100%;
    padding: 38px;
}

.bike-compare-inner {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    gap: 30px;
}

.bike-compare-sticker {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bike-stoke {
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
    line-height: 17px;
    background-color: var(--primary);
    color: var(--secondary);
    padding: 5px 14px;
}

.bike-compare-icon {
    color: var(--ternary);
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 50px;
    display: flex;
}

.bike-compare-icon svg {
    width: 22px;
    height: 22px;
}

.bike-compare-head {
    font-size: 28px;
    font-weight: 500;
    font-style: italic;
    line-height: 33px;
    color: var(--secondary);
    max-width: 200px;
    margin-top: 10px;
}

.bike-compare-head strong {
    font-weight: 700;
}

.bike-compare-img img {
    width: 100%;
    height: 100%;
}

.bike-compare-img {
    position: relative;
}

.bike-compare-text {
    position: absolute;
    top: 0px;
}

.bike-compare-price {
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    color: var(--secondary);
    font-style: italic;
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.039);
    padding-bottom: 20px;
}

.bike-compare-price strong {
    font-weight: 800;
}

.bike-specifier {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    color: var(--secondary);
    font-style: italic;
}

.bike-list:nth-child(odd) {
    background-color: var(--ternary);
}

.bike-list-first {
    font-weight: 600;
    font-size: 25px;
    line-height: 20px;
    color: var(--secondary);
    padding-block: 26px;
    padding-left: 20px;
}

.bike-list-second {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: var(--fifth);
    padding-block: 26px;
    padding-left: 20px;
}

.bike-table {
    width: 100%;
    margin-top: 25px;
}

.bike-list-a {
    font-size: 14px;
    font-weight: 700;
    color: var(--secondary);
    margin-top: 40px;
}

.bike-lists {
    text-align: center;
}

.bike-list-anchor {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 27px 100px;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-align: center;
    transition: all 0.3s ease;
    border: 2px solid var(--primary);
    white-space: nowrap;
    width: 100%;
}

.bike-list-anchor:hover {
    color: var(--secondary);
    background-color: transparent;
    border: 2px solid var(--secondary);
}

.know-more-inner {
    margin-top: 100px;
    text-align: center;
}

.click-anchor {
    background-color: var(--primary);
    color: var(--secondary);
    border: 2px solid var(--primary);
    transition: all 0.3s ease;
    border-radius: 50px;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1.75px;
}

.click-anchor:hover {
    color: var(--secondary);
    background-color: transparent;
    border: 2px solid var(--secondary);
}

.modals {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding-left: 20px;
    padding-right: 20px;
}

.modal-contents {
    background-color: var(--ternary);
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 60px;
    padding-right: 60px;
    width: 815px;
    text-align: center;
    position: relative;
}

.close {
    color: var(--ternary);
    background-color: var(--secondary);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1;
}

.modal-contents-head {
    font-size: 32px;
    font-weight: 600;
    line-height: 20px;
    color: var(--secondary);
}

.modal-inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.modal-inputs input {
    display: none;
}

.modal-inputs label {
    font-size: 16px;
    font-weight: 500;
    color: #333;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.modal-inputs label::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #999;
    display: inline-block;
    transition: all 0.3s ease;
    position: relative;
}

.modal-inputs input:checked+label::before {
    border: 2px solid var(--primary);
    background-color: var(--primary);
    box-shadow: inset 0 0 0 4px white;
    content: "✔";
}

.form-section {
    margin-top: 20px;
}

.col-3 {
    float: left;
    width: 100%;
    margin: 10px 3%;
    position: relative;
}

input[type="text"] {
    color: var(--secondary);
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    outline: none;
    font-size: 16px;
    font-weight: 500;
}

input[type="text"]::placeholder {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
}

input[type="email"] {
    color: var(--secondary);
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    outline: none;
    font-size: 16px;
    font-weight: 500;
}

input[type="email"]::placeholder {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
}

input[type="tel"] {
    color: var(--secondary);
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
    outline: none;
    font-size: 16px;
    font-weight: 500;
}

input[type="tel"]::placeholder {
    color: var(--secondary);
    font-size: 16px;
    font-weight: 500;
}

.effect-3 {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

.effect-3~.focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 99;
}

.effect-3~.focus-border:before,
.effect-3~.focus-border:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #4caf50;
    transition: 0.4s;
}

.effect-3~.focus-border:after {
    left: auto;
    right: 0;
}

.effect-3:focus~.focus-border:before,
.effect-3:focus~.focus-border:after {
    width: 50%;
    transition: 0.4s;
}

.dropdown {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 49%;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
}

.form-sug {
    font-size: 12px;
    font-weight: 500;
    color: var(--secondary);
    line-height: 28px;
    text-align: left;
    margin-top: 10px;
}

.form-submit {
    font-size: 14px;
    font-weight: 700;
    color: var(--secondary);
    background-color: var(--primary);
    padding: 27px 160px;
    border: 2px solid var(--primary);
    margin-top: 20px;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.form-submit:hover {
    border: 2px solid var(--secondary);
    background-color: transparent;
    color: var(--secondary);
}

.checkbox-sec {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.modal-inputs {
    display: flex;
    align-items: center;
    gap: 15px;
}

.checkbox-sec input {
    display: none;
}

.checkbox-sec label {
    font-size: 12px;
    font-weight: 600;
    color: #333;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: color 0.3s ease;
    line-height: 28px;
}

.checkbox-sec label::before {
    content: "";
    width: 18px;
    height: 18px;
    border-radius: 6px;
    border: 2px solid #999;
    display: inline-block;
    transition: all 0.3s ease;
    position: relative;
}

.checkbox-sec input:checked+label::before {
    border-color: var(--secondary);
    background-color: var(--secondary);
    box-shadow: inset 0 0 0 2px white;
}

.bike-inputs {
    display: flex;
    align-items: center;
    gap: 15px;
}

.dropdowns {
    padding: 12px 0;
    display: block;
}

.upload-images {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    justify-content: space-between;
}

.file-upload {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.file-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.file-texts {
    display: flex;
    align-items: center;
    gap: 10px;
}

.upload-image {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 50px;
}

.file-text {
    font-size: 15px;
    line-height: 28px;
    color: var(--secondary);
    font-weight: 600;
}

.col-4 {
    float: left;
    width: 100%;
    margin: 20px 0% 10px;
    position: relative;
}

.dropdown-select {
    margin-top: 20px;
}

.reserve {
    position: relative;
    margin-top: 100px;
}

.reserve::after {
    content: '';
    position: absolute;
    left: 0%;
    top: 0%;
    background-color: var(--forth);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    clip-path: polygon(50% 0, 100% 0%, 100% 100%, 34% 100%);
    transition: all 0.3s ease;
    opacity: 80%;
    z-index: -1;
}

.reserve-a {
    font-size: 25px;
    font-weight: 500;
    line-height: 20px;
    color: var(--ternary);
    clip-path: polygon(9% 0, 100% 0%, 91% 100%, 0% 100%);
    background-color: var(--fifth);
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 0%;
    right: 0%;
    transform: translate(0%, 0%)
}

.reserve-left-img {
    position: relative;
}

.reserve-left-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reserve-left-bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 109px;
}

.reserve-left-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.reserve-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 53px;
    padding-bottom: 84px;
    gap: 33px;
}

.reserve-left-bottom svg {
    width: 50px;
    height: 22px;
}

.reserve-right-head {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
    padding-block: 2px;
}

.reserve-heading {
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
    color: var(--secondary);
}

.reserve-title {
    font-size: 12px;
    font-weight: 500;
    line-height: 28px;
    color: var(--secondary);
}

.reserve-right-heading {
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    line-height: 36px;
    max-width: 200px;
    margin-top: 15px;
}

.reserve-right-heading strong {
    font-weight: 800;
}

.reserve-right-title {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #332D29;
    margin-top: 10px;
    max-width: 356px;
}

.reserve-right-a {
    text-decoration: underline;
    font-size: 12px;
    font-weight: 600;
    line-height: 28px;
    color: var(--secondary);
}

.reserve-right-desc {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.reserve-right-desc strong {
    font-size: 25px;
    font-weight: 800;
    line-height: 35px;
    color: #2B2E34;
}

.reserve-right-desc span {
    color: #332D29;
    font-size: 12px;
    font-weight: 400;
    line-height: 28px;
}

.select-dropdowns {
    width: 100%;
    position: relative;
    color: var(--forth);
    margin-top: 20px;

    .label {
        color: var(--secondary);
        margin-bottom: 5px;
    }

    .select {
        cursor: pointer;
        transition: 0.3s;
        border: 3px solid #00000054;
        border-radius: 5px;
        display: flex;
        padding: 25px 20px;
        align-items: center;
        justify-content: space-between;

        .selected {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &.placeholder {
                color: var(--secondary);
                font-size: 14px;
                font-weight: 700;
            }

            &.placeholder span {
                color: #00000054;
            }
        }

        .caret {
            margin-left: 10px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 6px solid var(--secondary);
            transition: 0.3s;
        }

        &:hover {
            background-color: var(--forth);
        }
    }

    .menu {
        visibility: hidden;
        background-color: var(--secondary);
        border-radius: 5px;
        overflow: hidden;
        position: absolute;
        width: 100%;
        top: 87%;
        opacity: 0;
        transition: visibility 0s, opacity 0.3s;
        z-index: 1;

        li {
            cursor: pointer;
            padding: 10px;

            &:hover {
                background-color: var(--secondary);
            }
        }
    }

    .menu-open {
        visibility: visible;
        opacity: 1;
    }
}

.caret-rotate {
    transform: rotate(180deg);
}

.active {
    background-color: var(--secondary);
}

.signup {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: var(--secondary);
    background-color: var(--primary);
    border: 2px solid var(--primary);
    padding: 27px 84px;
    margin-top: 11px;
    transition: all 0.3s ease-in-out;
    width: 100%;
    text-align: center;
}

.signup:hover {
    background-color: transparent;
    border: 2px solid var(--secondary);
}

.reserve-anchor {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: var(--forth);
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
    padding: 27px 66px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
    width: 100%;
    text-align: center;
}

.reserve-anchor:hover {
    background-color: transparent;
    border: 2px solid var(--secondary);
    color: var(--secondary);
}

.reserve-desc {
    font-size: 17px;
    font-weight: 500;
    color: var(--fifth);
    line-height: 28px;
    margin-top: 27px;
}

.terms-a {
    font-size: 12px;
    text-decoration: underline;
    font-weight: 400;
    color: var(--fifth);
    line-height: 28px;
    margin-top: 28px;
}

/* .finance-sec {
    position: relative;
}

.finance-sec::after {
    content: '';
    position: absolute;
    right: 0%;
    top: 0%;
    background-color: var(--forth);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    clip-path: polygon(58% 0, 100% 0%, 100% 100%, 40% 100%);
    transition: all 0.3s ease;
    opacity: 80%;
    z-index: -1;
}

.finance-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.finance-a {
    font-size: 45px;
    font-weight: 600;
    line-height: 20px;
    color: var(--forth);
    background-color: var(--secondary);
    border: 2px solid var(--secondary);
    padding: 50px 60px;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

.finance-a:hover {
    background-color: transparent;
    color: var(--secondary);
    border: 2px solid var(--secondary);
}

.part-a {
    font-size: 45px;
    font-weight: 600;
    line-height: 20px;
    color: var(--secondary);
    background-color: var(--primary);
    border: 2px solid var(--primary);
    padding: 50px 100px;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

.part-a:hover {
    background-color: transparent;
    color: var(--secondary);
    border: 2px solid var(--secondary);
} */

.cart-sec {
    margin-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}

.cart-close-icon {
    color: var(--secondary);
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 36px;
    right: 12px;
    cursor: pointer;
    z-index: 1;
}


.reports {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.305);
    display: flex;
    justify-content: flex-end;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
}

.cart-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 435px;
    height: 100vh;
    background-color: var(--forth);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    padding-top: 50px;
    padding-left: 41px;
    padding-right: 41px;
    overflow-x: hidden;
}

.reports.show .cart-content {
    transform: translateX(0);
}

.cart-head {
    font-size: 35px;
    font-weight: 600;
    line-height: 20px;
    color: var(--secondary);
    border-bottom: 1px solid #BCBCBC;
    padding-bottom: 26px;
}

.cart-bike-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cart-bike-head {
    font-size: 18px;
    font-weight: 500;
    color: var(--fifth);
    line-height: 22px;
    max-width: 110px;
}

.cart-bike-desc {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: var(--secondary);
    margin-top: 5px;
}

.cart-bike-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    border-bottom: 1px solid #BCBCBC;
    padding-bottom: 14px;
    position: relative;
}

.cart-close {
    position: absolute;
    top: 10px;
    right: 0;
    color: var(--fifth);
}

.subtotal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 152px;
}

.subtotal-title {
    font-size: 30px;
    font-weight: 600;
    color: var(--secondary);
    line-height: 20px;
}

.subtotal-head {
    font-size: 30px;
    font-weight: 600;
    color: var(--secondary);
    line-height: 20px;
}

.subtotal-desc {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: var(--secondary);
    opacity: 50%;
    margin-top: 23px;
    border-bottom: 2px solid #7C7C7C;
    padding-bottom: 10px;
}

.subtotal-a {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    border: 2px solid var(--secondary);
    background-color: var(--secondary);
    color: var(--forth);
    padding: 22px 136px;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

.subtotal-a:hover {
    background-color: transparent;
    color: var(--secondary);
    border: 2px solid var(--secondary);
}

.view-a {
    background-color: transparent;
    color: var(--secondary);
    border: 2px solid var(--secondary);
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    padding: 22px 136px;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

.view-a:hover {
    border: 2px solid var(--secondary);
    background-color: var(--secondary);
    color: var(--forth);
}

.continue-a {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    border: 2px solid var(--primary);
    background-color: var(--primary);
    color: var(--secondary);
    padding: 22px 80px;
    transition: all 0.3s ease-in-out;
    white-space: nowrap;
}

.continue-a:hover {
    background-color: transparent;
    color: var(--secondary);
    border: 2px solid var(--secondary);
}

.product {
    background-image: url(../images/oh-well-morning-cream-routine-is-a-must.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: calc(100% + 80px);
    margin-left: -40px;
    height: 100%;
    max-height: 270px;
    margin-top: 22px;
    position: relative;
}

.product::after {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 15%;
}

.product-title {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    color: var(--forth);
}

.product-a {
    font-size: 14px;
    font-weight: 700;
    color: var(--secondary);
    padding: 27px 100px;
    margin-top: 15px;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    transition: all 0.3s ease-in-out;
}

.product-a:hover {
    background-color: var(--ternary);
    border: 2px solid var(--ternary);
}

.product-detail {
    position: relative;
    z-index: 1;
    padding: 77px 42px;
}